<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informações Fictícias</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Informações fictícias</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about">Sobre</a>
            <a href="/contact">Contato</a>
        </nav>
    </header>
    <section>
        <h2>Sobre este contato</h2>
        <p>Rua Jacareí da Silva Rei - Condomínio Sóbrios Anônimos - Casa 79 - Pinguço Cachaceiro - ABV - Salvação pouco provável</p>
        <p>Facebook - usuário - Pindamonhangaba - senha - NãoSouPauMandado</p>
        <p>Instagram - usuário - NãoSouGatoPingado - senha - br8sq*eTa</p>
        <p>X - usuário - Hipopotomonstrosesquipedaliofobia - senha - Pneumoultramicroscopicossilicovulcanoconiótico</p>
        <p>Celular (99) 12 7689 - 1092</p>
    </section>
</body>
</html>